/* Hier hoef je niks mee te doen */
* {
    font-size: 0;
}

#container {
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#links {
    height: 500px;
    width: 266px;
    background-color: blue;
    display: inline-block;
}

#midden {
    height: 500px;
    width: 266px;
    background-color: white;
    display: inline-block;
}

#rechts {
    height: 500px;
    width: 266px;
    background-color: red;
    display: inline-block;
}