/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant {
    height: 225px;
    width: 800px;
    background-color: yellow;
}

#midden {
    height: 137px;
    width: 800px;
    background-color: blue;
}

#onderkant {
    height: 138px;
    width: 800px;
    background-color: red;
}

